
 /*-- Body Reset --*/
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #616971;
  }

  .flex-container {  
    display: flex;
 }

 td > img  {
   height: 10%;
 }  
 
 table ,th,td {
  border: 3px solid #7aaec4;
 }


  /*============= TOP BAR HEADER =============*/
  .top-bar{
    background-color: #7aaec4;
    height:2.8rem;
    padding: .5rem 0;
    text-align: center;
  }
  
  .top-bar a{
    color:white; 
    text-decoration: none;
  }
  
  .welcome {
    text-align: center;
  }
 

  /*============= NAVIGATION =============*/

  .navbar-brand img {
    height: 3rem;
  }

  .navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
  }

  .nav-item {
    padding: .5rem;
  }

  .nav-link{
    color: #5b5555!important;
  }
  
  .nav-link.active,
  .nav-link:hover {
    color: #4981b3!important;
  }

  /*============= CAROUSEL =============*/
  #carousel {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
  }
  
  .carousel-inner{
    max-height: 38rem!important ;
  }
  
  /*---Change Carousel Transition Speed --*/
 .carousel-item-next,
 .carousel-item-prev,
 .carousel-item.active {
  transition: transform 2.2s ease;

 }
  
  /*-- Carousel Content --*/
  .carousel-caption{
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    text-transform: uppercase;
  }

  .bg-custom {
    background-color: rgba(0,0,0,.4);
    color: white;
    border-radius: 1rem;
  }
  
  .carousel-caption h1{
    font-size: 3.8rem;
    text-shadow: .1rem .1rem .3rem rgba(0,0,0,1);
  }
  
  .border-primary {
    border-top: .2rem solid #4981b3!important
  }

  .carousel-caption h3 {
    font-size: 2.2rem;
    text-shadow: .1rem .1rem .2rem rgba(0,0,0,1);
  }
  .btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
  }

  .btn-danger {
    background-color: #AC2615;
    border: .1rem solid #AC2615;
  }

  .btn-primary {
    background-color: #4981b3;
    border: .05rem solid #4981b3;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #68a0d2!important;
    border: .05rem solid #68a0d2!important;
  }
  
  /*============ main page =============*/
    .ingredients, .calorie {
        background-color: #7aaec4;
    }

    .diet, .search{
        background-color: #c6e2ee;
    }

  /*============= FOOTER =============*/
  h4 {
      text-align: left;
  }

  footer {
    background-color: #383838;
    padding: 1rem 2rem 3rem
  }
  
  footer img{
    height: 3.5rem;
    margin:1.5rem auto;
  }

  footer p, footer a,
  .socket a{
    color:white;
    background-color: #383838;
    text-decoration:none;
  }

  ul.social {
    list-style-type: none;
    display:flex;
    max-width:16rem;
    margin: 0 auto;
    padding:0;
  }
  
  ul.social li {
    margin: 0 auto;
    display:flex;
  }

  footer.svg-inline--fa{
    font-size: 2.3rem;
  }

  footer.svg-inline--fa:hover{
    color: #68a0d2;
  }
  
  
  /*============= SOCKET =============*/
  
  .socket {
    background-color: #222222;
  }
  
  /*============= MEDIA QUERIES =============*/
  
  /* Devices under 1199px (xl) */
  @media (max-width: 1199.98px) {
  
  }
  /* Devices under 768px (md) */
  @media (max-width: 767.98px) {
  
  }
  
  
  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/
  
  /*-- Bootstrap Mobile Gutter Fix --*/
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  